.container {
  @import '../default.page';

  .big-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    height: auto;
    margin: auto;
    gap: var(--space-2xl);
  }

  .big-image {
    width: 100%;
    height: auto;
  }
}
