.page-content {
  display: flex;
  flex-direction: row;

  flex: 1;
  height: 100%;
}

.sidebar-content {
  display: flex;
  flex-direction: column;

  height: auto;
}

.children-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  height: auto;
}

.hide-panel {
  margin-bottom: 20px;
}
