& {
  &[data-margin='unset'] {
    margin: unset;
  }

  &[data-margin='5xl'] {
    margin: var(--space-5xl);
  }

  &[data-margin='4xl'] {
    margin: var(--space-4xl);
  }

  &[data-margin='3xl'] {
    margin: var(--space-3xl);
  }

  &[data-margin='2xl'] {
    margin: var(--space-2xl);
  }

  &[data-margin='xl'] {
    margin: var(--space-xl);
  }

  &[data-margin='l'] {
    margin: var(--space-l);
  }

  &[data-margin='m'] {
    margin: var(--space-m);
  }

  &[data-margin='s'] {
    margin: var(--space-s);
  }

  &[data-margin='xs'] {
    margin: var(--space-xs);
  }

  &[data-margin='2xs'] {
    margin: var(--space-2xs);
  }

  &[data-margin='3xs'] {
    margin: var(--space-3xs);
  }

  // --------------------------------------------

  &[data-margintop='unset'] {
    margin-top: unset;
  }

  &[data-margintop='3xl'] {
    margin-top: var(--space-3xl);
  }

  &[data-margintop='2xl'] {
    margin-top: var(--space-2xl);
  }

  &[data-margintop='xl'] {
    margin-top: var(--space-xl);
  }

  &[data-margintop='l'] {
    margin-top: var(--space-l);
  }

  &[data-margintop='m'] {
    margin-top: var(--space-m);
  }

  &[data-margintop='s'] {
    margin-top: var(--space-s);
  }

  &[data-margintop='xs'] {
    margin-top: var(--space-xs);
  }

  &[data-margintop='2xs'] {
    margin-top: var(--space-2xs);
  }

  &[data-margintop='3xs'] {
    margin-top: var(--space-3xs);
  }

  // --------------------------------------------

  &[data-marginbottom='unset'] {
    margin-bottom: unset;
  }

  &[data-marginbottom='3xl'] {
    margin-bottom: var(--space-3xl);
  }

  &[data-marginbottom='2xl'] {
    margin-bottom: var(--space-2xl);
  }

  &[data-marginbottom='xl'] {
    margin-bottom: var(--space-xl);
  }

  &[data-marginbottom='l'] {
    margin-bottom: var(--space-l);
  }

  &[data-marginbottom='m'] {
    margin-bottom: var(--space-m);
  }

  &[data-marginbottom='s'] {
    margin-bottom: var(--space-s);
  }

  &[data-marginbottom='xs'] {
    margin-bottom: var(--space-xs);
  }

  &[data-marginbottom='2xs'] {
    margin-bottom: var(--space-2xs);
  }

  &[data-marginbottom='3xs'] {
    margin-bottom: var(--space-3xs);
  }

  // --------------------------------------------

  &[data-marginleft='unset'] {
    margin-left: unset;
  }

  &[data-marginleft='3xl'] {
    margin-left: var(--space-3xl);
  }

  &[data-marginleft='2xl'] {
    margin-left: var(--space-2xl);
  }

  &[data-marginleft='xl'] {
    margin-left: var(--space-xl);
  }

  &[data-marginleft='l'] {
    margin-left: var(--space-l);
  }

  &[data-marginleft='m'] {
    margin-left: var(--space-m);
  }

  &[data-marginleft='s'] {
    margin-left: var(--space-s);
  }

  &[data-marginleft='xs'] {
    margin-left: var(--space-xs);
  }

  &[data-marginleft='2xs'] {
    margin-left: var(--space-2xs);
  }

  &[data-marginleft='3xs'] {
    margin-left: var(--space-3xs);
  }

  // --------------------------------------------

  &[data-marginright='unset'] {
    margin-right: unset;
  }

  &[data-marginright='3xl'] {
    margin-right: var(--space-3xl);
  }

  &[data-marginright='2xl'] {
    margin-right: var(--space-2xl);
  }

  &[data-marginright='xl'] {
    margin-right: var(--space-xl);
  }

  &[data-marginright='l'] {
    margin-right: var(--space-l);
  }

  &[data-marginright='m'] {
    margin-right: var(--space-m);
  }

  &[data-marginright='s'] {
    margin-right: var(--space-s);
  }

  &[data-marginright='xs'] {
    margin-right: var(--space-xs);
  }

  &[data-marginright='2xs'] {
    margin-right: var(--space-2xs);
  }

  &[data-marginright='3xs'] {
    margin-right: var(--space-3xs);
  }
}
