.link {
  position: fixed;
  bottom: 8;
  right: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  padding: 14px;
  border-radius: 50%;
  background-color: var(--color-g-4);
  box-shadow: #0000003b 2px 2px;
}
