& {
  --color-y-1: #dbe2bd; // oklch(89.71% 0.049 115.38)
  --color-g-1: #c3e8d1; // oklch(89.71% 0.049 158.085)
  --color-b-1: #c1e2fb; // oklch(89.71% 0.049 240.345)
  --color-p-1: #e5d5f8; // oklch(89.71% 0.049 305.505)
  --color-m-1: #fad0dc; // oklch(89.71% 0.049 360)
  --color-r-1: #fcd1ce; // oklch(89.71% 0.049 22.455)
  --color-gray-1: #d6dee7; // oklch(89.71% 0.015 248.18)

  --color-y-2: #b6c362; // oklch(78.68% 0.123 115.38)
  --color-g-2: #6ed19b; // oklch(78.68% 0.123 158.085)
  --color-b-2: #6bc3ff; // oklch(78.68% 0.123 240.345)
  --color-p-2: #cca5f8; // oklch(78.68% 0.123 305.505)
  --color-m-2: #fa97b6; // oklch(78.68% 0.123 360)
  --color-r-2: #ff9995; // oklch(78.68% 0.123 22.455)
  --color-gray-2: #b2bbc3; // oklch(78.68% 0.015 248.18)

  --color-y-3: #96a309; // oklch(68.09% 0.153 115.38)
  --color-g-3: #1cb473; // oklch(68.09% 0.153 158.085)
  --color-b-3: #13a2ed; // oklch(68.09% 0.153 240.345)
  --color-p-3: #af7de3; // oklch(68.09% 0.153 305.505)
  --color-m-3: #e26b95; // oklch(68.09% 0.153 360)
  --color-r-3: #e86d6c; // oklch(68.09% 0.153 22.455)
  --color-gray-3: #929aa2; // oklch(68.09% 0.015 248.18)

  --color-y-4: #414701; // oklch(38% 0.086 115.38)
  --color-g-4: #055030; // oklch(38% 0.086 158.085)
  --color-b-4: #03476b; // oklch(38% 0.086 240.345)
  --color-p-4: #4d3566; // oklch(38% 0.086 305.505)
  --color-m-4: #662c40; // oklch(38% 0.086 360)
  --color-r-4: #692d2d; // oklch(38% 0.086 22.455)
  --color-gray-4: #3c434a; // oklch(38% 0.015 248.18)

  --color-y-5: #2d3100; // oklch(30% 0.068 115.38)
  --color-g-5: #023820; // oklch(30% 0.068 158.085)
  --color-b-5: #01314c; // oklch(30% 0.068 240.345)
  --color-p-5: #362449; // oklch(30% 0.068 305.505)
  --color-m-5: #481d2c; // oklch(30% 0.068 360)
  --color-r-5: #4a1e1e; // oklch(30% 0.068 22.455)
  --color-gray-5: #282f35; // oklch(30% 0.015 248.18)
}
