.container {
  @import '../default.page';

  p {
    max-width: 56ch;
  }
}

.small-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 330;
  max-height: 330;
  width: 100%;
  height: auto;
  margin: auto;
  gap: var(--space-2xl);
}

.small-image {
  width: 100%;
  height: auto;
}

.follow-links {
  text-decoration: none;

  // &:hover {
  //   filter: brightness(1.03);
  // }
}
