.container {
  @import '../default.page';

  p {
    max-width: 56ch;
  }
}

.small-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  max-height: 330px;
  width: 100%;
  height: auto;
  margin: auto;
  gap: var(--space-2xl);
  border-radius: 8px;
}

.team-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 270px;
  max-height: 270px;
  width: 100%;
  height: auto;
  margin: auto;
  gap: var(--space-2xl);
  border-radius: 8px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 18px;
}

.round-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.saturate-image {
  transition: all 0.3s ease-in;
  filter: saturate(10%);

  &:hover {
    filter: saturate(80%);
  }
}

.follow-links {
  text-decoration: none;
}
