.container {
  @import '../default.page';

  p {
    max-width: 56ch;
  }
}

.small-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 330px;
  max-height: 330px;
  width: 100%;
  height: auto;
  margin: auto;
  gap: var(--space-2xl);
}

.small-image {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in;
  filter: saturate(0);

  &:hover {
    filter: saturate(1);
  }
}

.follow-links {
  text-decoration: none;
}
